



/*I need just cuz the nav bar would shift right, weird???*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0; padding: 0;
}


/*STARTS HERE*/
body {
    /*figure out background with taha, the color scheme!*/
  background:#302c35 ;
}




.big {
  margin-left: 12%;
  margin-top: 0%;
  max-height: 20%;
  max-width: 20%;
}

/*top left*/
.first {
  margin-left: 12%;
  margin-top: 5%;
  max-height: 20%;
  max-width: 20%;
}

/*top right*/
.second {
  margin-left: 54.2%;
  margin-top: -28.4%;
  max-height: 20%;
  max-width: 20%;
}

/*lower right*/
.third {
  margin-left: 54.2%;
  margin-top: 5%;
  max-height: 20%;
  max-width: 20%;
}

/*lower left*/
.four {
  margin-left: 12%;
  margin-top: -28%;
  max-height: 20%;
  max-width: 20%;
  padding-bottom: 20%

}







article {
    font-family: 'Tahoma', Geneva, sans-serif;
  text-align: center;
  color: white;
  font-size: 70%;
  
  
}
p {
    padding-bottom:5%;
    font-family: 'Tahoma', Geneva, sans-serif;
    font-size: 600%;
    margin-top: 10%;
}